.button {
  padding: 16px;
  background-color: var(--blue-dark);
  border: 0;
  color: var(--gray-100);
  line-height: 140%;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.button:hover {
  cursor: pointer;
  background-color: var(--blue);
  transition: all 0.2 ease;
}


.delete {
  padding: 5px;
  background-color: transparent;
  border: 0;
  color: var(--gray-300);
  line-height: 1;
  border-radius: 4px;
}

.delete:hover {
  cursor: pointer;
  background-color: var(--gray-400);
  color: var(--danger);
  transition: all 0.2s ease;
}
